@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--main-background: linear-gradient(
		90deg,
		rgb(239, 239, 219),
		rgb(243, 243, 240) 50%
	);
	--main-color: #d9c27e;
	--second-color: #b49538;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.shadow-btn {
	-webkit-box-shadow: 8px 12px 12px -5px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 12px 12px -5px rgba(66, 68, 90, 1);
	box-shadow: 8px 12px 12px -5px rgba(66, 68, 90, 1);
}
